.about{
    color: hsl(0, 0%, 100%);
}

.about .header{
    text-align: center;
    margin: 30px;
    border-style: groove;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 1px;
    font-size: x-large;
    font-weight: bolder;
}