.intro{
    position: relative;
    height: 600px;
}

.intro .messages1{
    justify-self: center;
    font-size: xx-large;
}

.intro .messages2{
    justify-self: center;
}

.intro .messages3{
    justify-self: center;
    font-size: xx-large;
}

.intro .scroll_message{
    justify-self: center;
}

.intro .testing1{
    position: absolute;
    top: 40%;
    width: 100%;
    height: 100px;
    justify-content: center;
}

.intro .testing2{
    display: grid;
    justify-content: center;
    align-items: center;
}

.intro .testing3{
    position: absolute;
    top: 80%;
    width: 100%;
    height: 100px;
    justify-content: center;
}

.intro .testing4{
    display: grid;
    justify-content: center;
    align-items: center;
}
